

form {
    width: 400px;
    padding: 30px;
    border: 1px solid #1C1C1C;
    border-radius: 13px;
    background-color:#1C1C1C;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70vh;
    margin-top: 90px;
    font-weight: bold;
    box-shadow: 0 5px 20px rgba(229, 9, 20, 0.4);
}

form > div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
a{
    color: whitesmoke;
    font-size: 20px;
    text-decoration: none;
    margin-left: 160px;
}
label {
    font-size: medium;
    font-family: inherit;
    margin-bottom: 5px;
    margin-left: 40px;
    padding-left: 0;
    text-align: left;
    color: whitesmoke;
}
input{
    width: 300px;
    height: 50px;
    margin-left: 40px;
    border-radius: 6px;
    border-style:none;
    background-color: whitesmoke;
}

input:focus,
select:focus,
button:focus {
    outline: none;
    border-color: gray;
    box-shadow: 0 0 5px whitesmoke;
}
.button {
    text-align: center;
    margin-top: 30px;
    margin-left: 45px;
}

button {
    padding: 12px 25px;
    background-color:whitesmoke;
    color: black;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    width: 300px;
    margin: 0;
    display: block;
}

button:hover {
    background-color: whitesmoke;
}

button:active {
    background-color: black;
    transform: translateY(2px);
    color: black;
}
h1{
    color:whitesmoke;
    text-align: center;
} 