body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding-top: 30px;
    background-color: rgb(211, 225, 236);
}

form {
    width: 400px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(211, 225, 236);
    box-shadow:none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 70vh;
    margin-top: 90px;
    font-weight: bold;
}

form > div {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    margin-left: 160px;
}
label {
    font-size: medium;
    font-family: inherit;
    margin-bottom: 5px;
    margin-left: 40px;
    padding-left: 0;
    text-align: left;
    color: black;
}
input{
    width: 300px;
    height: 30px;
    margin-left: 40px;
    border-radius: 6px;
    border-style:ridge;
    background-color: rgb(211, 225, 236);
}

input:focus,
select:focus,
button:focus {
    outline: none;
    border-color: black;
    box-shadow: 0 0 5px rgb(211, 225, 236);
}
.button {
    text-align: center;
    margin-top: 30px;
    margin-left: 45px;
}

button {
    padding: 12px 25px;
    background-color: black;
    color: rgb(211, 225, 236);
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: inline-block;
    width: 300px;
    margin: 0;
    display: block;
}

button:hover {
    background-color: black;
}

button:active {
    background-color: #e9edf0;
    transform: translateY(2px);
    color: black;
}
h1{
    color:black;
    text-align: center;
} 