ul {
  list-style-type: none;
  margin: 0;
  margin-left: 7px;
  margin-right: 7px;
  padding: 0;
  overflow: hidden;
  background-color:black;
  border-radius: 10px;
  height: 70px;
  font-weight:lighter;
  font-size:smaller;
  margin-right: 80px;
  margin-top: 10px;
}

ul li {
  float: right;
  margin-left: 35px;

}

ul li a {
  display: block;
  color: rgb(253, 253, 253);
  text-decoration: none;
  font-size: 30px;
  line-height: 70px; 
  padding: 0 20px; 
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease;
  background-color: transparent;
}

ul li a:hover {
  background-color: rgb(211, 225, 236);
  color: black;
  border-radius: 80px;
}