
.main-photo{
    padding-top: var(--navbar-height); 
    height: 70vh; 
    background-image:url('/src/image/i2.png');
    background-position: center top;
    display: flex;
    align-items: flex-end; 
    padding-left: 80px;
    position: relative;

}

.aa {
    margin-bottom: 50px;
    max-width: 600px;
}

.main-title{
    font-size: 4em;
    margin-bottom: 10px;
    letter-spacing: 2px;
    color:#ffffff;

}

.hero-title2{
    color: var(--text-gray);
    margin-bottom: 20px;
    color:#ffffff;
}

.main-body {
    margin-bottom: 20px;
    color: var(--text-gray);
    height: 4.8em; 
    overflow: hidden; 
    color:#ffffff;
}

.btn {
    padding: 10px 20px;
    margin-right: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
.button{
    background-color: rgba(255, 255, 255, 0.1);
    color:whitesmoke;
    border: 1px solid var(--text-gray);
    height: 0px;
    width: 90px;
    border-radius: 20px;

}

.add-watchlist {
    display: block;
    text-decoration: none;
    margin-top: 15px;
    font-size: 1.1em;
    color: #ffffff;
}
